.DS_Store
.thumbs.db

node_modules
dist
*.tsbuildinfo
.vite

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.yarn/*
!.yarn/releases
!.yarn/releases/**

.pnp.*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/.nova
